<div class="container">
    <div class="row p-details">
            <div class="col-6">
                <div class="image">
                    <img [src]="product?.image" />
                </div>
            </div>
            <div class="col-6">
                <div class="name">{{product?.title}}</div>
                <div class="cat">{{product?.category}}</div>
                <div class="price">{{product?.price | currency:'USD'}}</div>
                <div class="desc">{{product?.description}}</div>
            </div>
    </div>
</div>