.container{
    display: flex;
    flex-wrap: wrap;
}
.lists{
    margin: 10px 20px;
    width: 210px;
    box-shadow: 0 2px 16px 4px rgb(40 44 63 / 7%);
    padding: 10px;
    img{
        width: 210px;
        height: 280px;
    }
    .title{
        font-size: 14px;
        margin: 10px 0;
        color: #999;
        text-transform: capitalize;
    }
    .price{
        font-weight: bold;
    }
}