.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 1200px;
    margin: 50px auto;
    .img{
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 4px solid #ddd;
            overflow: hidden;
        }
    }
    .name{
        font-weight: bold;
        margin: 20px 0;
        text-transform: capitalize;
    }
}